In [1]:
import numpy as np
import pandas as pd

In [2]:
# Importar Csv
data_csv = pd.read_csv("employees.csv")
data_csv

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20
5,203,Susan,Mavris,SMAVRIS,515.123.7777,07-JUN-02,HR_REP,6500,-,101,40
6,204,Hermann,Baer,HBAER,515.123.8888,07-JUN-02,PR_REP,10000,-,101,70
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-JUN-02,AC_MGR,12008,-,101,110
8,206,William,Gietz,WGIETZ,515.123.8181,07-JUN-02,AC_ACCOUNT,8300,-,205,110
9,100,Steven,King,SKING,515.123.4567,17-JUN-03,AD_PRES,24000,-,-,90
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-SEP-05,AD_VP,17000,-,100,90
11,102,Lex,De Haan,LDEHAAN,515.123.4569,13-JAN-01,AD_VP,17000,-,100,90
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-JAN-06,IT_PROG,9000,-,102,60
13,104,Bruce,Ernst,BERNST,590.423.4568,21-MAY-07,IT_PROG,6000,-,103,60
14,105,David,Austin,DAUSTIN,590.423.4569,25-JUN-05,IT_PROG,4800,-,103,60
15,106,Valli,Pataballa,VPATABAL,590.423.4560,05-FEB-06,IT_PROG,4800,-,103,60
16,107,Diana,Lorentz,DLORENTZ,590.423.5567,07-FEB-07,IT_PROG,4200,-,103,60
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,17-AUG-02,FI_MGR,12008,-,101,100
18,109,Daniel,Faviet,DFAVIET,515.124.4169,16-AUG-02,FI_ACCOUNT,9000,-,108,100
19,110,John,Chen,JCHEN,515.124.4269,28-SEP-05,FI_ACCOUNT,8200,-,108,100
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-SEP-05,FI_ACCOUNT,7700,-,108,100
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-MAR-06,FI_ACCOUNT,7800,-,108,100
22,113,Luis,Popp,LPOPP,515.124.4567,07-DEC-07,FI_ACCOUNT,6900,-,108,100
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-DEC-02,PU_MAN,11000,-,100,30
24,115,Alexander,Khoo,AKHOO,515.127.4562,18-MAY-03,PU_CLERK,3100,-,114,30
25,116,Shelli,Baida,SBAIDA,515.127.4563,24-DEC-05,PU_CLERK,2900,-,114,30
26,117,Sigal,Tobias,STOBIAS,515.127.4564,24-JUL-05,PU_CLERK,2800,-,114,30
27,118,Guy,Himuro,GHIMURO,515.127.4565,15-NOV-06,PU_CLERK,2600,-,114,30
28,119,Karen,Colmenares,KCOLMENA,515.127.4566,10-AUG-07,PU_CLERK,2500,-,114,30
29,120,Matthew,Weiss,MWEISS,650.123.1234,18-JUL-04,ST_MAN,8000,-,100,50
30,121,Adam,Fripp,AFRIPP,650.123.2234,10-APR-05,ST_MAN,8200,-,100,50
31,122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-MAY-03,ST_MAN,7900,-,100,50
32,123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-OCT-05,ST_MAN,6500,-,100,50
33,124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-NOV-07,ST_MAN,5800,-,100,50
34,125,Julia,Nayer,JNAYER,650.124.1214,16-JUL-05,ST_CLERK,3200,-,120,50
35,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-SEP-06,ST_CLERK,2700,-,120,50
36,127,James,Landry,JLANDRY,650.124.1334,14-JAN-07,ST_CLERK,2400,-,120,50
37,128,Steven,Markle,SMARKLE,650.124.1434,08-MAR-08,ST_CLERK,2200,-,120,50
38,129,Laura,Bissot,LBISSOT,650.124.5234,20-AUG-05,ST_CLERK,3300,-,121,50
39,130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-OCT-05,ST_CLERK,2800,-,121,50
40,131,James,Marlow,JAMRLOW,650.124.7234,16-FEB-05,ST_CLERK,2500,-,121,50
41,132,TJ,Olson,TJOLSON,650.124.8234,10-APR-07,ST_CLERK,2100,-,121,50
42,133,Jason,Mallin,JMALLIN,650.127.1934,14-JUN-04,ST_CLERK,3300,-,122,50
43,134,Michael,Rogers,MROGERS,650.127.1834,26-AUG-06,ST_CLERK,2900,-,122,50
44,135,Ki,Gee,KGEE,650.127.1734,12-DEC-07,ST_CLERK,2400,-,122,50
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-FEB-08,ST_CLERK,2200,-,122,50
46,137,Renske,Ladwig,RLADWIG,650.121.1234,14-JUL-03,ST_CLERK,3600,-,123,50
47,138,Stephen,Stiles,SSTILES,650.121.2034,26-OCT-05,ST_CLERK,3200,-,123,50
48,139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700,-,123,50
49,140,Joshua,Patel,JPATEL,650.121.1834,06-APR-06,ST_CLERK,2500,-,123,50

In [6]:
# Importar Json
data_json = pd.read_json('iris.json')
data_json

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [14]:
data_excel = pd.read_excel("Inventory-Records-Sample-Data.xlsx")
data_excel

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Excel Sample Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Inventory Records Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Product ID,Product Name,Opening \nStock,Purchase/\nStock in,Number of \nUnits Sold,Hand-In-\nStock,Cost Price \nPer Unit (USD),Cost Price\nTotal (USD)
5,NaN,P101,Laptop,50,20,10,60,1200,72000
6,NaN,P102,Monitor,40,15,5,50,500,25000
7,NaN,P103,Keyboard,60,25,15,70,50,3500
8,NaN,P104,Headphones,30,10,3,37,100,3700
9,NaN,P105,Smartphone,70,30,20,80,900,72000
10,NaN,P106,Tablet,45,18,8,55,700,38500
11,NaN,P107,Router,55,22,12,65,150,9750
12,NaN,P108,External Hard Drive,25,12,5,32,200,6400
13,NaN,P109,Wireless Earbuds,35,15,7,43,80,3440
14,NaN,P110,Webcam,40,20,10,50,60,3000
15,NaN,P111,Desk Chair,20,8,3,25,150,3750
16,NaN,P112,Desk Lamp,30,15,7,38,30,1140
17,NaN,P113,USB Flash Drive,50,25,12,63,20,1260
18,NaN,P114,Ethernet Cable,60,30,15,75,10,750
19,NaN,P115,Power Strip,40,20,8,52,25,1300
20,NaN,P116,Wireless Mouse,35,15,5,45,40,1800
21,NaN,P117,Gaming Keyboard,25,10,4,31,100,3100
22,NaN,P118,Gaming Mouse,30,12,6,36,80,2880
23,NaN,P119,Gaming Headset,20,8,3,25,120,3000
24,NaN,P120,Gaming Chair,15,6,2,19,200,3800
25,NaN,P121,Gaming Monitor,25,10,4,29,400,11600
26,NaN,P122,Graphics Card,40,18,9,49,600,29400
27,NaN,P123,CPU,30,15,7,38,350,13300
28,NaN,P124,Motherboard,25,12,5,32,200,6400
29,NaN,P125,RAM,50,22,11,61,80,4880
30,NaN,P126,SSD,45,20,8,57,120,6840
31,NaN,P127,HDD,60,25,12,73,60,4380
32,NaN,P128,Power Supply,35,15,6,44,100,4400
33,NaN,P129,PC Case,40,18,9,49,80,3920
34,NaN,P130,CPU Cooler,30,12,4,34,50,1700
35,NaN,P131,Monitor Stand,25,10,3,28,30,840
36,NaN,P132,Mouse Pad,50,20,8,58,10,580
37,NaN,P133,Thermal Paste,40,15,5,50,5,250
38,NaN,P134,Cable Management Kit,30,12,4,34,15,510
39,NaN,P135,WiFi Adapter,20,8,3,23,20,460
40,NaN,P136,External DVD Drive,15,6,2,17,50,850
41,NaN,P137,Printer Cable,25,10,4,29,5,145
42,NaN,P138,Keyboard Cleaner,40,18,9,49,8,392
43,NaN,P139,Laptop Cooling Pad,30,15,6,39,20,780
44,NaN,P140,USB Hub,35,12,4,31,15,465
45,NaN,P141,Anti-Glare Screen Protector,25,8,3,28,10,280
46,NaN,P142,USB-C Adapter,20,10,4,24,15,360
47,NaN,P143,Laptop Sleeve,30,12,5,37,20,740
48,NaN,P144,Wireless Charger,40,18,7,51,30,1530
49,NaN,P145,USB-C Cable,50,20,9,61,8,488
50,NaN,P146,Gaming Desk,25,10,3,28,150,4200